@page "/"





<PageTitle>Home</PageTitle>

<h1>Use for Balance Simulations through api</h1>

<h2>.NET version: 8Rc2 </h2>
<h2>Project Template: Blazor Web App</h2>
<h2>Interactive type: Server</h2>
<h2>Interactivity Location: Per page/component</h2>

