@page "/"

<PageTitle>Home</PageTitle>



<h2>Background</h2>

<a href="https://en.wikipedia.org/wiki/Monte_Carlo_methods_in_finance" target="_blank" rel="nofollow">
    Monte Carlo methods in finance
</a>






