@page "/"





<PageTitle>Home</PageTitle>

<h2>Use for Balance Simulations through api</h2>

<h3>.NET version: 8Rc2 </h3>
<h3>Project Template: Blazor Web App</h3>
<h3>Interactive type: Server</h3>
<h3>Interactivity Location: Per page/component</h3>

