@page "/accountholderselect"
@rendermode InteractiveServer
@using FinancialPlanner.Components.Models;
@attribute [StreamRendering(true)]
@namespace FinancialPlanner.Components.AppComponents

<small>
    <table class="table table-condensed table-borderless">
    <thead>
        <tr>
            <th>Account Holder</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>
            <select class="select-element" @bind="SelectedAccountHolderId">
                @{
                    if (AccountHolderList != null)
                    }
                    <option value="">Select One</option>
                    @foreach (var item in AccountHolderList)
                    {
                        <option value="@item.id">@item.FirstName @item.LastName</option>
                    }
            </select>
            </td></tr>
    </tbody>
</table>
</small>



@code {
    protected string selectedAccountHolderId;

    [Parameter]
    public IEnumerable<AccountHolder>? AccountHolderList { get; set; }

    [Parameter]
    public string SelectedAccountHolderId
    { 
        get{ return this.selectedAccountHolderId; }

        set
        {
            if(this.selectedAccountHolderId != value)
            {
                this.selectedAccountHolderId = value;
                OnAccountHolderSelect.InvokeAsync(this.selectedAccountHolderId);
            }          
        }        
    }

    [Parameter]
    public EventCallback<string> OnAccountHolderSelect { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
    
}
