@page "/parameterdetails"
@rendermode InteractiveServer
@using FinancialPlanner.Components.Models;
@attribute [StreamRendering(true)]
@namespace FinancialPlanner.Components.AppComponents

<small>
<table class="table table-sm"><small>
    <thead>
        <tr>
            <th>Parameters</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scenarioParameters in ScenarioParametersList)
        {
            <tr>
                <td>@scenarioParameters.LifeEventStartingYear</td>
                <td>@scenarioParameters.LifeEventDisplayMessage</td>
                <td>@scenarioParameters.DisplayValue</td>
            </tr>
        }
    </tbody></small>
</table>
</small>

@code {
    [Parameter]
    public List<ScenarioParameters> ScenarioParametersList { get; set; }


    protected override async Task OnInitializedAsync()
    {

    }

}
